:root {
  --content-max-witdh: 1200px;
  --main-color: #ffd008;
  --gray-color-bg: #f4f4f5;
  --header-background-color: #f4f4f5;
  --gray-color-text: #475569;
  --form-border-color: #ccc;
  --form-border-radius: 5px;
}
